<!DOCTYPE html>
<html>
<head>
<title>报告</title>
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>

<body>
	<div>
		<div id="airResult" style="width: 50%;margin-left: auto;margin-right: auto">
			<a class="easyui-linkbutton" style="width: 60px; height: 27px; margin-left: 50px; margin-top: 20px"
				id="evalutionTypetbDDD"> 计算 </a> <a class="easyui-linkbutton"
				style="width: 60px; height: 27px; margin-left: 50px; margin-top: 20px"
				id="refreshButton"> 刷新 </a>
			<div id="result">
				<table id="airResultTable" style="width: 99%">
				</table>
				<div id="chatDiv" style="top: 40; width: 99%; height: 300px;"></div>
			</div>
		</div>
	</div>
</body>
</html>
